<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <%- body %>
  </body>
</html>
